<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!submitted">
    <form>
      <ion-item lines="full">
        <ion-label position="floating">First name</ion-label>
        <ion-input type="text" [(ngModel)]='user.first_name' name='first_name' required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Last name</ion-label>
        <ion-input type="text"  [(ngModel)]='user.last_name' name='last_name' required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]='user.username' name='username' required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]='user.password' name='password' required></ion-input>
      </ion-item>
  
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" (click)='registerUser()'>Sign Up</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>

  <div *ngIf="submitted">
    <h4>New user was registered successfully!</h4>
    <button class="btn btn-success" (click)="newUser()">Add User</button>
  </div>
</ion-content>